<h1 class="mb-0">{{ .Site.Params.profile.name }}</h1>
<h2 class="mb-0">{{ .Site.Params.profile.tagline }}</h2>
<h3 class="mb-4">{{ .Site.Params.profile.location }}</h3>
<figure>
  <img
    src="https://wakatime.com/share/@phatcvo/56e85417-0b5f-4bb1-916e-b2d557bc9d8b.svg"
    alt="Wakatime SVG Image"
    style="width: 100%; height: 100%"
  />
</figure>
<div class="mb-4 flex flex-wrap justify-center">
  {{ range.Site.Params.social.list }}
  <div class="mx-2">
    <a class="text-2xl" href="{{ .url }}">
      <i class="mt-1 {{ .icon }}"></i>
    </a>
  </div>
  {{ end }}
</div>
